html {
    scroll-behavior:smooth;
}

a {
    text-decoration: none;
    color: #B1A79C;
}



body {
    max-width: 1900px;
    margin: 0 auto;
    box-shadow: 0px 0px 300px black;
    background-color:#15181F;
    
}


header {
    background-image: linear-gradient(180deg, #000000 0%, rgba(37, 43, 66, 0.01) 88.5%), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center;
}





#header {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B1A79C;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 96px;
    
}


.logo:hover {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.navigation {
    display: flex;
    gap: 50px;
}

nav-link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

nav-link:hover {
    color: #E2A23B;
    cursor: pointer;
    background-size: 100% 2px;
}


/* .launch-button {
    height: 40px;
    background: #E2A23B;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    width: auto;
    padding-left: 42px;
    padding-right: 42px;
} */

/* .launch-button:hover {
    transform: scale(0.96);
    cursor: pointer;
} */

.launch-button{

    height: 40px;
    background: #E2A23B;
    color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding-left: 42px;
    padding-right: 42px;
    overflow: hidden;
    transition: 1s all ease;
    transform: translate(-0%,-0%);
    cursor: pointer;
  }

  .lauch-button a {
    color: black;
  }

  .launch-button:hover {
    transition-delay: 0.1s;
    transform: scale(0.94);
  }

  .launch-button::before{
    background: #E9DEC3;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 1s ease;
    cursor: pointer;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
    cursor: pointer;
  }
  

  .launch-button:hover::before{
    height: 380%;
  }
  





.sub-title {
    color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px #000000;
}

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
    color: #E2A23B;
    margin: 0 auto;
    text-shadow: 2px 2px 4px #000000;
}

.header-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 10px;
    color: #E9DEC3;
    text-shadow: 2px 2px 4px #000000;
}


.view-more-button {
    background: #E9DEC3;
    border-radius: 5px;
    height: 50px;
    width: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 1px 30px black;
    overflow: hidden;
    transition: 1s all ease;
    transform: translate(-0%,-0%);
    cursor: pointer;
}

.view-more-button:hover {
    transition-delay: 0.1s;
    transform: scale(0.94);
    
}



  .view-more-button::before{
    background: #E2A23B;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 1s ease;
    cursor: pointer;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
    cursor: pointer;
  }
  

  .view-more-button:hover::before{
    height: 380%;
  }




/* PAYMENT TYPES */

.payment-container {
    display: flex;
    margin: auto;
}

.payment {
    background-color: black;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 94px;
}

.payment-type {
    transition: transform 1s;
}


.payment-type:hover {
    filter: invert(62%) sepia(93%) saturate(338%) hue-rotate(356deg) brightness(93%) contrast(91%);
    transform: scale(1.4);
    cursor: pointer;
}


/* MEDIEVAL METAVERSE */

.medieval-content {
    border-top: 2px solid #E2A23B;
    background-color: #15181F;
   margin-bottom: 100px
}

.top-side-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #E2A23B;
}



.cards {
    display: flex;
    justify-content: space-around;

}


.content-title {
    margin: 0 auto;
    padding-top: 93px;
}

.red-line {
    padding-bottom: 70px;
}


.content-card {
    background: rgba(0, 0, 0, 1);
    border: 2px solid #A06930;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 251px;
    height: 364px;
    transition: transform 1s;
}

.content-card:hover {
    border: 2px solid #E2A23B;
    transform: scale(1.1);
    backface-visibility: hidden;
    box-shadow: 0px 0px 50px rgba(253, 250, 63, 0.23);

}

.card-image {
    padding-top: 20px;
    padding-bottom: 30px;

}



.card-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #E2A23B;
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 167%;
    text-align: center;
    color: #E9DEC3;
    max-width: 190px;
}


/* COLLAPSE ANIMATION */

.collapsible {
    background-color: rgb(2, 2, 2);
    height: 60px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #E2A23B;
    
    border-top: 2px solid #E2A23B;
    border-bottom: 2px solid #E2A23B;
    transition: 2s;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(37, 37, 37);
    box-shadow: 0px 3px 100px black;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    background-color: #f1f1f1;
  }

/* GAME-CARDS */

.game-cards-content {
    display: flex;
    justify-content: space-around;
    height: 600px;
    background-image: url(../images/table-wallpaper.jpg);
    box-shadow:inset 5px  1px 100px 20px #000000;
    border-top: 2px solid #383838;
    border-bottom: 2px solid #272726;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}



.game-cards {
    display: flex;
    gap: 10px;
}

.card3d:nth-child(2) {
    margin-top: 85px;
}

.game-card-info {
    display: flex;
    flex-direction: column;
    width: 513px;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.game-card_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;
    color: #E2A23B;
}

.game-card_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    color: #E9DEC3;
}



.game-card_button {
    background: #E9DEC3;
    border-radius: 5px;
    height: 50px;
    width: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 1px 30px black;
    overflow: hidden;
    transition: 1s all ease;
    transform: translate(-0%,-0%);
    cursor: pointer;
}

.game-card_button:hover {
    transition-delay: 0.1s;
    transform: scale(0.94);
    
}



  .game-card_button::before{
    background: #E2A23B;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all 1s ease;
    cursor: pointer;
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(0deg);
    cursor: pointer;
  }
  

  .game-card_button:hover::before{
    height: 380%;
  }



/* COLLECTORS-CARD ANIMATION */

.card3d {
    transform: scale(1);
    perspective: 600px;
    width: 240px;
    height: 300px;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1.2);
}

.card3d,
.card3d img {
    transition: all 300ms;
}




.nft-content {
    background-image: url(../images/nft-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* box-shadow:inset 0px  10px 60px 1px #000000; */
    width: 100%;
    height: 1114px;
    /* max-width: 1900px; */
    background-size: cover;
    background-color: #15181F;
    border-top: 2px solid #757575;
    box-shadow: inset 0px 0px 20px #000000;
}


.nft-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;
    color: #E2A23B;
}

.nft-top-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #E9DEC3;
    text-shadow: 2px 2px 4px #000000;
}

.nft-top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 95px;
    /* overflow: hidden; */
}


.nft-card {
    background-image: url(../images/nft-card-bottom.png);
    width: 378px;
    height: 336px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 1px 30px black;
    background-size: cover;
    transition: 1s;
}



.nft-card:hover {
    transform: scale(1.05);
}


.nft-card__model {
    position: relative;
    right: 125px;
    bottom: 16px;

}


.nft-bottom {
    display: flex;
    gap: 45px;
}

.nft-card-bottom {
    background-image: url(../images/nft-card-bottom.png);
    min-width: 323px;
    height: 336px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 1px 30px black;
    transition: 1s;

}

.nft-card-bottom:hover {
    transform: scale(1.05);
}


.nft-card__title {
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #E2A23B;
    margin: 0px;
    text-shadow: 2px 2px 4px #000000;
}


.nft-card__text {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #E9DEC3;
    text-align: center;
    margin-top: 9px;

}


.sign-up {
    background-image: url(../images/sign-up-img.png);
    background-repeat: no-repeat;
    height: 447px;
    background-size: 100%;
    width: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 50px #000000;
    border-top: 2px solid #757575;;
    display: flex;
    justify-content: space-between;

}

.sign-up_form {
    overflow: hidden;
}

.sign-up_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 146px;
    margin-right: 200px;
    color: #E2A23B;
    text-shadow: 2px 2px 4px #000000;
}

input {
    background-color: #e9dec3;
    outline: none;
    border: none;
    width: 301px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
}

.sign-up_button {
    background-color: #e2a23b;
    width: 152px;
    height: 52px;
    outline: none;
    border: none;
    bottom: 1px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    right: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1C1311;
    cursor: pointer;
}

.form {
    overflow: hidden;
}

.form_holder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BABABC;
    padding-left: 80px;
}


footer {
    border-top: 2px solid #757575;;
    background-color: #15181F;
    height: 590px;
}

.footer-logo {
    padding-top: 84px;
    padding-bottom: 29px;
}

footer .container {
    display: flex;
    justify-content:space-between;
    
}

.footer-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 165%;
    color: #E9DEC3;
}

.footer-text {
    padding-bottom: 49px;
}

.links {
    padding-top: 143px;

    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 28px;

}


.link-group h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #E2A23B;
}

.link-group p {
 

}

.link-group a {
    color: #E9DEC3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0%;
    color: #E9DEC3;
    text-decoration: none;
}


.link-group a:hover {
    color: #E2A23B;
}


.socials {
    display: flex;
    gap: 28px;
    padding-top: 57px;
    justify-content: flex-start;
    margin-right: 720px;
}

.social-logo:hover {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(128deg) brightness(101%) contrast(101%);
    cursor: pointer;
}

.back-to-top {
    filter: invert(62%) sepia(93%) saturate(338%) hue-rotate(356deg) brightness(93%) contrast(91%);
    position: absolute;
    right: 0px;
}

.back-to-top:hover {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(128deg) brightness(101%) contrast(101%);
}

.copyright {
    background: #121314;
    height: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #919094;
    padding-top: 20px;
    border-top: 2px solid #757575;;

}



/* SLIDER */

  .itc-slider__wrapper {
    overflow: hidden;
  }

  .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
  }




/* HAMBURGER */


  #menu {
    z-index: 2;
    display: none;
  }
  
  #menubar {
    width: 16vw;
    height: 16vw;
    cursor: pointer;
    /* background-image: url(/images/sun-logo.svg);
    background-size: cover; */
    transition: transform 1s ease;
  }
 
#menubar img {
    width: 16vw;
    height: 16vw;
}
  
  /* .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  } */
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 10px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
    
  }
  
  .nav li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    
    
  }
  
  .nav li a:hover {
    color: #E2A23B;
    cursor: pointer;
    background-size: 100% 2px;
  }
  




  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    display: none;
    z-index: 1;
    position: absolute;
    left: 14px;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background-image: url(/images/banner.jpg);
    border-radius: 50%;
    transition: 0.5s ease;
    border: 2px solid #E2A23B;
  }
  
  .change {
    display: block;
    transition-delay: 2s;
  }
  
  .rotate {
    transform: rotate(180deg);
    display: block;
  }

 
  
  .change-bg {
    width: 323px;
    height: 410px;
    transform: translate(-58%,-31%);
  }


 
  




@media (max-width: 870px) {

header {
    height: 100%;
}

#header {
    font-size: 1.9vw;
    margin-bottom: 60px;
}

.navigation {
    gap: 10px;
    flex-wrap: wrap;
}

.title {
    font-size: 50px;
    text-align: center;
    word-break: break-word;
}

.sub-title {
    text-align: center;
    font-size: 4.5vw;
}

.header-text {
    text-align: center;
    font-size: 2.5vw;
    margin: 0 auto;
    max-width: 450px;
}

.view-more-button {
    margin: 0 auto;
}

.content-title {
    font-size:7.5vw;
    padding-top: 65px;
}

.view-more-button {
    height: 35px;
    width: 120px;
}

.payment-container {
    max-width: 580px;
    flex-wrap: wrap;
    justify-content: center;
}

.payment {
    padding-top: 50px;
    padding-bottom: 40px;
}

.container {
    max-width: 680px;
}

.cards {
    flex-wrap: wrap;
    gap: 35px;
}

.red-line {
    padding-bottom: 35px;
}

    .launch-button {
        padding-left: 25px;
    padding-right: 25px;
    height: 30px;
}
    
    

.nft-card {
    width: 323px;
}

.nft-title {
    padding-bottom: 20px
}

h1 {
    margin: -0.6em 0;
}

.nft-bottom {
    gap: 0px;
}

.nft-content {
    height: 960px;
}

    .nft-card-bottom:nth-child(2) {
        margin-left: 41px;
    }

    .nft-card-bottom:nth-child(3) {
        display: none;
    }

    .content-card {
        max-width: 220px;
    }

.game-cards {
    padding-bottom: 20px;
}

    .game-card_text {
        display: none
    }

    .game-card_button {
        margin: 0 auto;
        width: 130px;
        height: 30px;
    }

    .game-cards-content {
        flex-direction: column-reverse;
    }
    

    .game-card_title {
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        margin-top: 30px;
    }

    .sign-up_title {
        text-align: center;
        margin-right: 0px;
    }

    .sign-up_button{
  width: 100px;
  bottom: 0px;
    }
    
    .form {
        align-items: center;
        margin: 0 auto;
    }

.sign-up_form {
    padding-left: 14vw;
}

.form_holder {
    padding-left: 20px;
}

    .socials {
        margin: 0 auto;
    }

    .footer-content {
        display: none;
    }

    .footer-text {
        display: none;
    }

    .footer-text2 {
        display: none;
    }

    .links {
        padding-top: 30px;
        justify-content: space-around;
        text-align: center;
        gap: 10px;
    }

    .footer-logo {
        padding-top: 60px;
    }

    footer {
        height: 370px;
    }

    footer .container {
        justify-content: center;
    }
}

@media (max-width: 700px) {

   .collapsible {
    display: none;
   }

   .game-cards-content {
    display: none;
   }

    .nft-bottom {
    display: none;
}

.nft-content {
    height: 850px;
    border-top: 2px solid #e2a23b;
}

.nft-title {
    font-size: 7.5vw;
    padding-bottom: 30px;
}

.nft-top-text {
    font-size: 2.8vw;
}

.nft-top {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
}


.footer-logo {
    display: none;
}


.copyright {
    text-align: center;
}

.input {
    width: 270px;
}

}




@media (max-width: 500px) {

#header {
margin-bottom: 0px;
padding-top: 10px;
}

.logo {
    display: none;
}

.navigation {
    display: none;
}

#menu {
    display: block;
}

.header-text {
    max-width: 250px;
}

.red-line {
    padding-bottom: 20px;
}

.top-side-content {
    line-height: 50px;
}

.launch-button {
    /* padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    border-radius: 5px 0px 0px 5px; */
    display: none;
}

.menu-bg {
    display: block;
  }


.view-more-button {
    height: 6vw;
    width: 17vw;
    font-size: 2.5vw;
}

.title {
    font-size: 35px;
    line-height: 45px;
}

.payment {
    padding-top: 30px;
    padding-bottom: 15px;
}

.payment-type img {
    width: 35vw;
}

.sign-up {
    height: 330px;
}

.sign-up_title {
    font-size: 5.8vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 90px;
}

input {
    width: 250px;
}

.content-title {
    padding-top: 20px;
}

.medieval-content {
    margin-bottom: 50px;
}

.cards {
    gap: 25px;
}

.form_holder {
    
}

.sign-up_form {
    display: flex;
}

.sign-up_button {
    width: 24vw;
}

.card-image img {
    width: 18vw;
}

.nft-top {
    padding-top: 70px;
    overflow: hidden;
}


.nft-content {
    height: 760px;
}

.content-card {
    width: 40vw;
    height: 51vw;
}

.card-title {
    font-size: 3vw;
}

.card-text {
    font-size: 2vw;
   
}

.card-image {
    padding-bottom: 10px;
}

.back-to-top {
    display: none;
}

.link-group h2 {
    font-size: 4.5vw;
}

.link-group a {
    font-size: 3vw;
}

footer {
    height: 310px;
}

}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


